@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .spacing {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 4rem;
  }
}
